@using HexedSceneryWebsite.Components.Components
<div class="top-row ps-3 navbar navbar-dark mordheim-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Hexed Scenery</a>

        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>


<div class="@NavMenuCssClass nav-scrollable mordheim-nav-menu" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AdvancedNavMenuLinks NavLinkList="topList" />

        <div class="nav-item px-3 category" style="font-size: large">
            Preperation
            <hr />
        </div>
        <AdvancedNavMenuLinks NavLinkList="preperationList" />

        <div class="nav-item px-3 category" style="font-size: large">
            Skirmish
            <hr />
        </div>
        <AdvancedNavMenuLinks NavLinkList="skirmishList" />

        <div class="nav-item px-3 category" style="font-size: large">
            Post-Battle Sequence
            <hr />
        </div>
        <AdvancedNavMenuLinks NavLinkList="postBattleList" />
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string subMenuCssClass => showEncounterSubMenu ? "show" : "transition-collapsed";

    private bool showEncounterSubMenu;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleEncounterSubMenu()
    {
        showEncounterSubMenu = !showEncounterSubMenu;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private List<NavLinkModel> topList = new List<NavLinkModel>
    {
        new NavLinkModel
        {
            DisplayName = "Home",
            Url = "mordheim",
            IconCssClass = "oi-home",
            NavLinkMatch = NavLinkMatch.All
        },
        new NavLinkModel
        {
            DisplayName = "My Rolls",
            Url = "mordheim/myrolls",
            IconCssClass = "oi-person"
        }
    };

    private List<NavLinkModel> preperationList = new List<NavLinkModel>
    {
        new NavLinkModel
        {
            DisplayName = "Hired swords",
            Url = "mordheim/hiredswords",
            IconCssClass = "oi-person"
        }
    };
    private List<NavLinkModel> skirmishList = new List<NavLinkModel>
    {
        new NavLinkModel
        {
            DisplayName = "Animosity",
            Url = "mordheim/animosity",
            IconCssClass = "oi-script"
        },
        new NavLinkModel
        {
            DisplayName = "Blackpowder Misfires",
            Url = "mordheim/blackpowdermisfires",
            IconCssClass = "oi-script"
        },
        new NavLinkModel
        {
            DisplayName = "Critical Hits",
            Url = "mordheim/criticalhits",
            IconCssClass = "oi-script"
        },
        new NavLinkModel
        {
            DisplayName = "Encounters",
            Children = new List<NavLinkModel>
            {
                new NavLinkModel
                {
                    DisplayName = "Random Happenings",
                    Url = "mordheim/randomhappenings/",
                    IconCssClass = "oi-script"
                },
                new NavLinkModel
                {
                    DisplayName = "Subplots",
                    Url = "mordheim/subplots/",
                    IconCssClass = "oi-script"
                },
                new NavLinkModel
                {
                    DisplayName = "Town Cryer",
                    Url = "mordheim/thetowncryerofmordheim/",
                    IconCssClass = "oi-script"
                },
                new NavLinkModel
                {
                    DisplayName = "Treasures of the Underground",
                    Url = "mordheim/treasuresoftheounderground/",
                    IconCssClass = "oi-script"
                }
            }
        },
        new NavLinkModel
        {
            DisplayName = "Stupidity",
            Url = "mordheim/stupidity",
            IconCssClass = "oi-script"
        }
    };

    private List<NavLinkModel> postBattleList = new List<NavLinkModel>
    {
        new NavLinkModel
        {
            DisplayName = "Power in the Stones",
            Url = "mordheim/powerinthestones",
            IconCssClass = "oi-script"
        },
        new NavLinkModel
        {
            DisplayName = "Rewards of the Shadowlord",
            Url = "mordheim/rewardsoftheshadowlord",
            IconCssClass = "oi-script"
        },
        new NavLinkModel
        {
            DisplayName = "Random Mutations",
            Url = "mordheim/randommutations",
            IconCssClass = "oi-script"
        },
        new NavLinkModel
        {
            DisplayName = "Sawbones",
            Url = "mordheim/sawbones",
            IconCssClass = "oi-script"
        },
        new NavLinkModel
        {
            DisplayName = "Serious Injuries",
            Url = "mordheim/seriousinjuries",
            IconCssClass = "oi-script"
        },
        new NavLinkModel
        {
            DisplayName = "Rabble Rousing",
            Url = "mordheim/rabblerousing",
            IconCssClass = "oi-script"
        }
    };
}
