@page "/mordheim/hiredswords"

<PageTitle>Hexed Scenery - Hired Swords</PageTitle>

<div class="background-paper">
    <svg>
        <filter id="wavy2">
            <feTurbulence x="0" y="0" baseFrequency="0.02" numOctaves="5" seed="1"></feTurbulence>
            <feDisplacementMap in="SourceGraphic" scale="20" />
        </filter>
    </svg>
</div>
<div class="mordheim-page">
    <h2>A group of hired swords are traveling apace to help thou  'i  thy dire needs. But alas hath yet to arrive. </h2>
    <p>- Town crier</p>
</div>
@code {

}
