@page "/mordheim"

<PageTitle>Hexed Scenery - Mordheim</PageTitle>

<div class="background-paper">
    <svg>
        <filter id="wavy2">
            <feTurbulence x="0" y="0" baseFrequency="0.02" numOctaves="5" seed="1"></feTurbulence>
            <feDisplacementMap in="SourceGraphic" scale="20" />
        </filter>
    </svg>
</div>
<div class="mordheim-page">
    <h2>None should'st be fortunate to bid Mordheim their home these days.</h2>
    <p>Welcome to my Mordheim-helper site. Here you will be able to find helpfull tools to play a game of Mordheim with less distractions and pdf-scrolling.</p>
    <p>You can find the tools in the menu.</p>


</div>
