<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/imports.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/Profile.css" rel="stylesheet" />
    <link href="css/DiceChart.css" rel="stylesheet" />
    <link href="css/MordheimPage.css" rel="stylesheet" />
    <link href="css/Skills.css" rel="stylesheet" />
    <link href="css/MordheimNavMenu.css" rel="stylesheet" />
    <link href="css/NavMenu.css" rel="stylesheet" />
    <link href="css/Encounter.css" rel="stylesheet" />
    <link href="css/EncountersPane.css" rel="stylesheet" />
    <link href="css/button.css" rel="stylesheet" />
    <link href="css/HiredSwords.css" rel="stylesheet" />
    <link href="css/DropDown.css" rel="stylesheet" />
    <link href="css/ImageGallery.css" rel="stylesheet" />
    <link href="HexedSceneryWebsite.styles.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="hexedscenerylogo.jpg" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
