


$mordheim-text: "src: url('../fonts/CaslonAntique.ttf') format('truetype');";
$mordheim-text-bold:  "src: url('../fonts/CaslonAntique-Bold.ttf') format('truetype');";
$mordheim-text-italic: "src: url('../fonts/CaslonAntique-Italic.ttf') format('truetype');";
$mordheim-text-bolditalic: "src: url('../fonts/CaslonAntique-BoldItalic.ttf') format('truetype');";
$mordheim-header: "src: url('../fonts/Schoensperger.otf') format('truetype');";

