table.dice-chart-table {
  text-align: left;
  max-width: 500px;
}
table.dice-chart-table thead tr th {
  padding-left: 0px;
}
table.dice-chart-table thead tr th.first-column {
  padding-right: 50px;
}
table.dice-chart-table tbody tr td {
  padding: 2px;
  padding-bottom: 10px;
}
table.dice-chart-table tbody tr td.first-column {
  padding-left: 0px;
}
