



div.mordheim-page {
    div.flex-container {
        display: flex;
        align-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 20px;

        div.select-box {
            flex-shrink: 3;

            select.form-select {
            }
        }
    }
}
