div.encounters-pane {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
div.encounters-pane div.description {
  margin-bottom: 1rem;
  text-align: center;
  width: 90%;
}
div.encounters-pane div.encounter-type-selection {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: "Schoensperger";
  font-size: x-large;
  display: flex;
  flex-direction: row;
}
@media (max-width: 800px) {
  div.encounters-pane div.encounter-type-selection:not(.only-row) {
    flex-direction: column;
  }
}
div.encounters-pane div.encounter-type-selection div {
  padding: 5px;
  border-radius: 55px 15px 225px 15px/15px 125px 15px 55px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
}
div.encounters-pane div.encounter-type-selection div.divider {
  border-left: solid 1px black;
}
div.encounters-pane div.encounter-type-selection div.selection-item:hover {
  cursor: pointer;
  border-color: #969696;
}
div.encounters-pane div.encounter-type-selection div.selection-item.selected {
  border-color: #969696;
}
div.encounters-pane div.encounter-type-selection div img.crit-icon {
  width: 2rem;
}
div.encounters-pane div.randomize-btn {
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 20px;
  padding: 0.55em;
  padding-left: 1.75em;
  padding-right: 1.75em;
  outline: none;
  border-radius: 55px 15px 225px 15px/15px 125px 15px 55px;
  border-width: 2px;
  border-style: solid;
  border-color: #969696;
}
div.encounters-pane div.randomize-btn:hover {
  cursor: pointer;
}
div.encounters-pane div.randomize-btn.disabled:hover {
  cursor: not-allowed;
}
div.encounters-pane div.randomize-btn img {
  margin-left: 0.5em;
  width: 1.8em;
  height: 1.8em;
}
