

div.encounter {
    padding-top: 20px;

    div.previous-encounters {
        div.previous-encounters-title {
            font-weight: bold;
        }

        div.previous-encounters-list-item {
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 55px 15px 225px 15px/15px 125px 15px 55px;
            border-width: 2px;
            border-style: solid;
            border-color: transparent;

            img.crit-icon {
                width: 1.5rem;
            }

            &:hover {
                cursor: pointer;
                border-color: #969696;
            }
        }

        div.previous-encounters-list-item-trash {
            padding: 10px;

            span {
                cursor: pointer;
            }
        }
    }
}
