div.encounter {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
@media (max-width: 800px) {
  div.encounter {
    flex-direction: column;
  }
}
div.encounter div.current-encounter {
  flex: 1;
}
div.encounter div.current-encounter div.special-rule {
  width: 90%;
}
div.encounter div.current-encounter div.special-rule h5 {
  font-family: "Schoensperger";
}
div.encounter div.previous-encounters {
  flex: 1;
}
div.encounter div.previous-encounters div.previous-encounters-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
}
div.encounter div.previous-encounters div.previous-encounters-header div {
  flex: 2;
}
div.encounter div.previous-encounters div.previous-encounters-header div.smaller-column {
  flex: 0.8;
}
div.encounter div.previous-encounters div.previous-encounters-row-data {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  border-radius: 55px 15px 225px 15px/15px 125px 15px 55px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
}
div.encounter div.previous-encounters div.previous-encounters-row-data:hover {
  cursor: pointer;
  border-color: #969696;
}
div.encounter div.previous-encounters div.previous-encounters-row-data div {
  flex: 2;
}
div.encounter div.previous-encounters div.previous-encounters-row-data div img.crit-icon {
  width: 2rem;
}
div.encounter div.previous-encounters div.previous-encounters-row-data div.smaller-column {
  flex: 0.8;
}
