

div.encounter {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 100%;

    @media (max-width: 800px) {
        flex-direction: column;
    }

    div.current-encounter {
        flex: 1;

        div.special-rule {
            width: 90%;
            h5 {
                font-family: 'Schoensperger';
            }
        }
    }

    div.previous-encounters {
        flex: 1;

        div.previous-encounters-header {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            gap: 10px;

            div {
                flex: 2;

                &.smaller-column {
                    flex: 0.8;
                }
            }
        }

        div.previous-encounters-row-data {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            padding: 10px;
            border-radius: 55px 15px 225px 15px/15px 125px 15px 55px;
            border-width: 2px;
            border-style: solid;
            border-color: transparent;

            &:hover {
                cursor: pointer;
                border-color: #969696;
            }

            div {
                flex: 2;

                img.crit-icon {
                    width: 2rem;
                }

                &.smaller-column {
                    flex: 0.8;
                }
            }
        }
    }
}
