div.hired-swords-page div.hired-sword-table-filter fieldset.filter {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 20px;
  padding-top: 0.15em;
  padding-bottom: 1.825em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  width: 90%;
  outline: none;
  border-radius: 55px 15px 225px 15px/15px 125px 15px 55px;
  border-width: 2px;
  border-style: solid;
  border-color: #969696;
}
div.hired-swords-page div.hired-sword-table-filter legend {
  float: none;
  width: auto;
  padding: 0 10px;
  font-size: inherit;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 0px;
  /*font-weight: 600;*/
  /*text-transform: uppercase;*/
}
div.hired-swords-page table.hired-swords-table {
  width: 100%;
}
div.hired-swords-page table.hired-swords-table thead tr th {
  padding-right: 15px;
}
div.hired-swords-page table.hired-swords-table tbody tr {
  border-bottom: 10px solid transparent;
}
div.hired-swords-page table.hired-swords-table tbody tr td {
  padding-right: 15px;
}
div.hired-swords-page table.hired-swords-table tbody tr td.name:hover {
  text-decoration: underline;
  cursor: pointer;
}
div.hired-swords-page div.no-result {
  padding: 50px;
  width: 100%;
  text-align: center;
  font-size: 30px;
}
