@font-face {
  font-family: "CaslonAntique";
  src: url("../fonts/CaslonAntique.ttf") format("truetype");
  src: url("../fonts/CaslonAntique-Bold.ttf") format("truetype");
  src: url("../fonts/CaslonAntique-Italic.ttf") format("truetype");
  src: url("../fonts/CaslonAntique-BoldItalic.ttf") format("truetype");
  font-family: "Schoensperger";
  src: url("../fonts/Schoensperger.otf") format("opentype");
}
div.mordheim-page {
  font-family: CaslonAntique;
  color: #666666;
  padding: 15px;
  min-height: 100%;
  padding-left: 2em;
}
div.mordheim-page h2 {
  font-family: Schoensperger;
}
div.mordheim-page h3 {
  font-weight: bold;
}

div.background-paper {
  z-index: -1;
  position: absolute;
  display: flex;
  width: 98%;
  min-height: 99.5%;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0 2em 2em 0;
  padding: 4em;
  box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
  background: #fffef0;
  filter: url(#wavy2);
}

/*div.description {
    max-width: 90%;
}
*/
@media (max-width: 800px) {
  .hidden-mobile {
    display: none;
  }
}
