

div.mordheim-navbar {
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    background: #fffef0;

    a.navbar-brand {
        color: white;
        font-size: x-large;
        font-family: CaslonAntique;
    }

    font-family: Schoensperger;
}

div.mordheim-nav-menu {
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    background: #fffef0;

    nav {
        div.nav-item {
            .nav-link {
                font-family: Schoensperger;
                font-size: larger;
            }
        }
    }
}