div.mordheim-navbar {
  box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
  background: #fffef0;
  font-family: Schoensperger;
}
div.mordheim-navbar a.navbar-brand {
  color: white;
  font-size: x-large;
  font-family: CaslonAntique;
}

div.mordheim-nav-menu {
  font-family: Schoensperger;
  color: #666666;
  /*font-size: larger;*/
  box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
  background: #fffef0;
  width: contain;
}
div.mordheim-nav-menu div.category hr {
  margin-top: 0px;
  margin-bottom: 0px;
}
div.mordheim-nav-menu nav div.nav-item .nav-link {
  font-family: Schoensperger;
  /*font-size: larger;*/
  line-height: 2rem;
}
div.mordheim-nav-menu nav div.nav-item .nav-link:hover {
  cursor: pointer;
}
div.mordheim-nav-menu nav .transition-visible {
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  max-height: 500px;
}
div.mordheim-nav-menu nav .transition-visible.transition-collapsed {
  max-height: 0;
  transition: max-height 0.5s ease-out;
}
