

div.mordheim-navbar {
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    background: #fffef0;

    a.navbar-brand {
        color: white;
        font-size: x-large;
        font-family: CaslonAntique;
    }

    font-family: Schoensperger;
}

div.mordheim-nav-menu {
    font-family: Schoensperger;
    color: #666666;
    /*font-size: larger;*/
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    background: #fffef0;
    width: contain;

    div.category {
        hr {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }

    nav {
        div.nav-item {
            .nav-link {
                font-family: Schoensperger;
                /*font-size: larger;*/
                line-height: 2rem;
            }

            .nav-link:hover {
                cursor: pointer;
            }
        }

        .transition-visible {
            overflow: hidden;
            transition: max-height 0.5s ease-out;
            max-height: 500px;
        }

        .transition-visible.transition-collapsed {
            max-height: 0;
            transition: max-height 0.5s ease-out;
        }
    }
}
