
@import 'fonts';



table.profile-table {
    text-align: center;
    margin-bottom: 1em;

    thead {
        border-bottom: solid 1px black;

        tr {
            th {
                padding-left: 10px;
                padding-right: 10px;

                &.first-column {
                    text-align: left;
                    padding-left: 0px;
                }
            }
        }
    }

    tbody {
        tr {
            td {
                &.first-column {
                    text-align: left;
                    padding-left: 0px;
                    padding-right: 2rem;
                }
            }
        }
    }
}

@media all and (min-width: 768px) {
    span.first-column {
        display: none;
    }
}

@media all and (max-width: 768px) {
    span.first-column {
        display: block;
        font-weight: bold;
        font-size: larger;
    }

    table.profile-table {
        thead {
            tr {
                th {
                    &.first-column {
                        display: none;
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    &.first-column {
                        display: none;
                    }
                }
            }
        }
    }
}
